.devices_block {
    background-image: url("../static/images/list_block_background.png");
    min-height: 495px;
}

.title {
    padding: 22px;
    color: #f5c506;
    text-align: center;
    font-family: 'PTSans';
    font-size: 43px;
    width: auto;
    text-transform: uppercase;
}

.free {
    display: flex;
    font-weight: bold;
    background: #f5c506;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin: 5px 5px;
    font-size: 15px;
    padding: 15px;
    display: flex;
    height: 180px;
    width: 180px;
    color: #fff;
    z-index: 1;
    height: 100px;
    width: 100px;
    align-self: flex-start;
    position: absolute;
    font-family: 'PTSans';
}

.devices {
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.devices_list {
    display: flex;
}

.devices_list ul li {
    margin: 5px;
    list-style-type: none;
    color: #a9a9a7;
    font-size: 22px;
    font-family: "OpenSans";
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.devices_list ul li::before {
    content: "\2022";
    color: #f5c506;
    font-weight: bold;
    display: inline-block;
}

.images {
    width: 90%;
    display: flex;
}

@media(min-width: 500px)AND ( max-width: 770px) {
    .devices_list ul {
        display: none;
    }
    .devices_block {
        height: 100%;
    }
    .devices_list {
        margin: auto;
    }
    .desktop {
        width: 60%;
        height: 0;
        padding-top: 50%;
        position: relative;
        display: block;
    }
    .tablet {
        width: 30%;
        height: 0;
        padding-top: 30%;
        position: relative;
        display: block;
    }
    .desktop img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }
    .tablet img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }
    .free {
        padding: 0px;
        margin-left: 20px;
        margin-top: 40px;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 19px;
    }
    .devices_list ul {
        display: none;
    }
    .desktop {
        width: 60%;
        height: 0;
        padding-top: 50%;
        position: relative;
        display: block;
    }
    .tablet {
        width: 30%;
        height: 0;
        padding-top: 30%;
        position: relative;
        display: block;
    }
    .desktop img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }
    .tablet img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }
    .free {
        padding: 0px;
        height: 80px;
        width: 80px;
    }
}