.footer {
    background-color: #4c4c4c;
    height: auto;
}

.logo-image--footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__image--footer {
    float: left;
    height: 50px;
    width: 50px;
    position: relative;
}

.logo__image--footer img {
    position: absolute;
}

.footer__text {
    color: white;
    font-style: italic;
    font-family: 'PTSans';
    font-size: 29px;
}

@media(max-width:500px) {
    .footer__text {
        color: white;
        font-style: italic;
        font-family: 'PTSans';
        font-size: 15px;
    }
}