.icon_area {
    margin: auto;
    height: 215px;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon_area__content {
    width: 1020px;
    margin: auto;
}

.icon__item {
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.item__text {
    font-family: 'SegoeUI';
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
}

.item__image {
    height: 80px;
    width: 80px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 420px) {
    .icon__item {
        /* height: 100%; */
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .icon_area {
        height: 100%;
    }
    .icon_area__content {
        width: 100%
    }
    .item__text {
        font-size: 16px;
    }
}

@media (max-width: 770px) {
    .icon__item {
        /* height: 100%; */
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    /* .icon_area__content {
        width: 100%
    } */
    .item__text {
        font-size: 20px;
    }
}

@media(min-width: 1000px)AND ( max-width: 1025px) {
    /* .icon_area__content {
        width: auto;
    } */
}