    .media_block {
        background-image: url("../static/images/Section2_background.png");
        min-height: 510px;
    }
    
    .banner__video {
        display: flex;
    }
    
    .video__play {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;
        border: transparent;
    }
    
    .twitter__image {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    .media_block .container .title {
        font-family: 'PTSans';
        font-size: 37px;
        padding-top: 40px;
        padding-bottom: 40px;
        color: white;
    }
    
    .video__add--button {
        right: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
    }
    
    .video__add:hover {
        cursor: pointer;
        color: brown;
    }
    
    .media_block__content .video {
        width: 100%;
        height: 230px;
        display: flex;
    }
    
    .comment {
        box-sizing: border-box;
        padding: 10px;
        font-family: 'SegoeWP';
        font-size: 29px;
        min-height: 200px;
        width: 33%;
        background-color: orange;
        color: white;
        position: relative;
    }
    
    .video {
        width: 33%;
        position: relative;
        display: block;
        margin: auto;
    }
    
    .twitter {
        width: 33%;
        margin-left: 38px;
        background-color: orange;
        align-content: center;
        position: relative;
    }
    
    button:active,
    button:focus {
        outline: none;
        cursor: pointer;
    }
    
    button::-moz-focus-inner {
        border: 0;
        cursor: pointer;
    }
    
    .twitter__add--button {
        right: 0;
        bottom: 0;
        font-family: 'SegoeWP';
        font-size: 29px;
        color: white;
        margin: auto;
        position: absolute;
    }
    
    .twitter__number {
        margin-top: 5%;
        margin-left: 85%;
        font-size: 29px;
        color: white;
    }
    
    @media (max-width: 430px) {
        .media_block {
            height: 100%;
            background-color: white;
        }
        .twitter__add {
            display: none;
        }
        .video__add {
            display: none;
        }
        .twitter__number {
            display: none;
        }
        .media_block .container .title {
            display: none;
        }
        .comment {
            width: 50%;
            font-size: 16px;
        }
        .twitter {
            width: 50%;
        }
        .video__add {
            position: relative;
            margin-top: 50%;
        }
        .video__add--button {
            right: 0;
            bottom: 0;
            position: absolute;
        }
        .twitter__add--button {
            display: none;
        }
    }
    
    @media( max-width: 770px) {
        .media_block {
            min-height: 0;
        }
        .banner__video {
            flex-flow: wrap;
        }
        .media_block .container .title {
            display: none;
        }
        .twitter__number {
            display: none;
        }
        .video {
            width: 100%;
        }
        .comment {
            width: 50%;
            height: auto;
            margin: 0px;
        }
        .twitter {
            margin: 0px;
            width: 50%;
        }
        .video__add--button {
            bottom: 0;
            right: 0;
            position: absolute;
        }
        .twitter__add--button {
            display: none;
        }
    }